# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/

# Examples
example/*/.dart_tool/
example/*/build/
example/*/.packages

# Platform folders (for clean examples)
example/*/.android/
example/*/.ios/
example/*/.macos/
example/*/.web/
